#contact-messages{
  overflow-x:auto;
}
#contact-messages #customers {
  
  border-collapse: collapse;
  width: 100%;
  margin: 40 auto 0 auto;
  
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 15px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding: 20px;
  text-align: left;
  background-color: #009578;
  color: white;
}