
@media (max-width:1000px){
  /*contact area*/
  .wrapper{
    max-width: 80%;
  }
}
@media (max-width: 768px){
  header{
    flex-direction: column;
  }
  header h2{
    margin-bottom: 15px;
  }
  header nav li{
    margin: 0 7px;
  }

  /*service area*/
  .single-box{
    width: 400px;
    height: auto;
  }

.services-content li{
  flex-basis: 100%;
}
.services-content li:last-child{
  margin-bottom: 0;
}
.services-content li p{
  padding: 0;
}


  /*faq*/
  .accordion {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  /*about area*/
  .about-area{
    padding: 10px 10px;
  }
  .about-left, .about-right{
    flex-basis: 100%;
  }
  .about-content li{
    padding: 5px;
  }
  .about-area p {
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: left;
    padding-left: 10px;
}
  .about-area .section-title{
  /* width: 90%;
  font-size: 20px; */
  margin-top: 0px;
}

 /*contact area*/
  
.contact-content li{
  flex-basis: 100%;
}
.contact-content li:last-child{
  margin-bottom: 0;
}
.contact-content li p{
  padding: 0;
} 
/*contact area*/
  .form-area{
    flex-direction: column;
  }
  .msg-area{
    order: 1;
  }

  
}

/*image slider*/
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


